[submodule "repo-docs-1"]
	path = repo-docs-1
	url = https://github.com/multirepo-docs/repo-docs-1
[submodule "repo-docs-2"]
	path = repo-docs-2
	url = https://github.com/multirepo-docs/repo-docs-2
[submodule "repo-docs-3"]
	path = repo-docs-3
	url = https://github.com/multirepo-docs/repo-docs-3
